<legend>Update Bug Status</legend>
<div class="span9">
  <div class="control-group">
    <b>Title:</b>
    <div class="controls">
      <%= @bug.title %>  
    </div>  
  </div>
  <div class="control-group">
    <b>Description:</b>
    <div class="controls">
      <%= @bug.description %>  
    </div>  
  </div>
  <div class="control-group">
    <b>Deadline:</b>
    <div class="controls">
      <%= @bug.deadline %>  
    </div>  
  </div>
  <div class="control-group">
    <b>Type:</b>
    <div class="controls">
      <%= @bug.bug_type %>  
    </div>  
  </div>
  <div class="control-group">
    <b>Status:</b>
    <div class="controls">
      <%= simple_form_for [@project,@bug], :html => { :class => 'form-horizontal' } ,:url => update_status_project_bug_path, :method => "post" do |f|%>
        <% if @bug.bug_type == "feature"%>
           <%= f.select(:status, [['New','New'],['Started','Started'],['Completed','Completed']], {}, :id => "type_select") %>
        <% end %>
        <% if @bug.bug_type == "bug"%>
            <%= f.select(:status, [['New','New'],['Started','Started'],['Resolved','Resolved']], {}, :id => "type_select") %>
        <% end %>
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>  
  </div>
</div>
<div class="span3">
  <% if @bug.image.present? %>
    <%= image_tag @bug.image_url(:thumb).to_s %>
  <% end %>
</div>
  